{% set banners = __SELF__.promobanner %}

{% if banners %}

    {% for banner in  banners %}

   {% if banner.promo_start_date < 'now'|date('Y-m-d H:i:s') and banner.promo_end_date > 'now'|date('Y-m-d H:i:s') and banner.status == 1 %}

    <div class="col-xs-12 bottom-promo-banner" style="background-color: {{banner.background_color}};">
		  <div class="gtco-container animate-box {% if banner.promo_text %} py-2 {% endif %}" data-animate-effect="fadeInLeft">
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                {% if banner.promo_link %}
                    <a href="{{ banner.promo_link}}">
                {% endif %}
                     {% if banner.promo_image %}
                    <div class="promo-image inline"><img src="{{ banner.promo_image | media }}" alt="{{banner.promo_name}}"/></div>
                     {% endif %}
                     {% if banner.promo_text %}
                    <div class="promo-text inline ml-5" style="color:{{banner.text_color}};">{{ banner.promo_text|raw }}</div>
                     {% endif %}

                {% if banner.promo_link %}
                    </a>
                {% endif %}
            {% endspaceless %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
