{% set banners = __SELF__.promobanner %}

{% if banners %}
{% for banner in  banners %}
{% if banner.promo_start_date < 'now'|date('Y-m-d H:i:s') and banner.promo_end_date > 'now'|date('Y-m-d H:i:s') and banner.promo_status == 1 and banner.promo_position == 'bottom' %}
<div class="bottom-promo-banner" style="height:{{ __SELF__.property('height') }};line-height:calc({{ __SELF__.property('height')}} - 10px);background-color: {{banner.promo_background_color}};">
  <div class="gtco-container animate-box {% if banner.promo_text %} py-2 {% endif %}" data-animate-effect="fadeInLeft">
    {# Use spaceless tag to remove spaces inside the A tag. #}
    {% spaceless %}
      <a href="{% if banner.promo_link %} {{ banner.promo_link}} {%else%} # {% endif %}">
      {% if banner.promo_image %}
      <div class="promo-image inline"><img src="{{ banner.promo_image | media }}" alt="{{banner.promo_name}}"/></div>
      {% endif %}
      {% if banner.promo_text %}
      <div class="promo-text inline ml-2" style="color:{{banner.promo_text_color}};">{{ banner.promo_text|raw }}</div>
      {% endif %}
      </a>
    {% endspaceless %}
  </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
