.center-promo-banner{width: 100%;text-align:center;font-size:calc(8px + 1vw);font-weight:900; font-style: italic;}
.center-promo-banner a{color:#fff}
.center-promo-banner .promo-image{}
.center-promo-banner .promo-image img{height: 100% !important; width:auto !important;}
.center-promo-banner .inline{display: inline-block;}
