/* Top Banner*/
.top-promo-banner{width:100%;text-align:center;font-size:calc(8px + 1vw);font-weight:900; font-style: italic;}
.top-promo-banner a{color:#fff}
.top-promo-banner .promo-image{}
.top-promo-banner .promo-image img{max-height: 100% !important; width:auto !important;}
.top-promo-banner .inline{display: inline-block;}
