/* Top Banner*/
.top-promo-banner{max-height: 60px;text-align:center;font-size: calc(8px + 1vw);font-weight:900; font-style: italic;}
.top-promo-banner a{color:#fff}
.top-promo-banner .promo-image{height: 50px !important; max-height:60px !important;}
.top-promo-banner .promo-image img{height: 100% !important; width:auto !important;}
.top-promo-banner .inline{display: inline-block;}
